.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-blue);
}

.footer__form {
  margin-top: 20px;
}

.footer__form form label input {
  width: 200px;
  height: 30px;
  margin-right: 8px;
  border: none;
  border-radius: 25px;
  outline: none;
}

.footer__form form label input::placeholder {
  padding-left: 15px;
  color: var(--gray);
}

.footer__form button {
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 25px;
  outline: none;
  background-color: var(--red);
  color: var(--light-gray);
  font-weight: 700;
  cursor: pointer;
}

.footer__form button:hover {
  opacity: 0.7;
}

.footer__nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 430px;
  margin: 40px 0 0 0;
}

.footer__nav ul {
  margin: 0 0 40px 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

.footer__nav ul a {
  font-size: 0.9rem;
  color: white;
  text-decoration: none;
  line-height: 35px;
}

.footer__nav ul a:hover {
  color: var(--red);
}

.footer__social-links {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.footer__social-links figure {
  margin-right: 30px;
}

.footer__social-links figure:last-child {
  margin-right: 0;
}

.footer__icon {
  width: 30px;
  cursor: pointer;
}

.footer__icon:hover {
  filter: invert(0.35) sepia(0.5) saturate(50) hue-rotate(331.2deg) brightness(0.98);
}

.footer__logo {
  margin-top: 40px;
}

.copyright {
  font-size: 0.7rem;
  margin: 30px 0 15px 0;
}

@media (min-width: 850px) {
  .footer {
    display: grid;
    grid-template: "logo nav nav form"
                   "social-links nav nav copyright";
    width: 100%;
    justify-content: space-evenly;
  }

  .footer__form {
    grid-area: form;
  }

  .footer__form button {
    margin-top: 15px;
  }
  
  .footer__nav {
    grid-area: nav;
  }

  .footer__nav ul {
    padding: 0 40px;
  }
  
  .footer__social-links {
    grid-area: social-links;
  }

  .footer__icon {
  width: 20px;
  cursor: pointer;
  }
  
  .footer__logo {
    grid-area: logo;
  }
  
  .copyright {
    grid-area: copyright;
  }
}