@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --red: hsl(12, 88%, 59%);
  --pale-red: hsl(13, 100%, 96%);
  --blue: hsl(228, 39%, 23%);
  --dark-blue: hsl(233, 12%, 13%);
  --gray: hsl(0, 0%, 35%, 1);
  --light-gray: hsl(0, 0%, 98%);
  --hover-color: rgba(89, 89, 89, 0.6);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 62.5%;
}

h1, h2, h3, h4, p, a, span, blockquote {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  color: var(--blue);
}

p, a, span, blockquote {
  color: var(--gray);
}

a {
  list-style: none;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}